body{
  font-family: 'Arima Madurai' !important;
}

.boldFonts{
    font-weight: bold;
}

.backlogContainer {
  margin-left: 150px;
}
.backlogs {
  padding: 20px;
  height: 70vh;
  overflow-y: auto;
}
.createdTasksHeader {
  display: flex;
  justify-content: space-around;
}

.urgencyColor {
  z-index: +1;
  position: absolute;
  background-color: aqua;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 100px;
  padding-left: 10px;
  left: 0;
}

.firstContainer {
  display: flex;
  width: 350px;
  justify-content: space-between;

}

.test{
  display: flex;

}



.avatarBkLg {
  margin: 20px;
}

.infoBkLg {
  margin: 20px;
}

.emailBkLg {
  color: blue;
}

.urgencyColorRed {
  border-left: solid red 15px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
.urgencyColorBlue {
  border-left: solid blue 15px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.urgencyColorOrange {
  border-left: solid orange 15px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.secondContainer {
  margin-right: 50px;
  margin-left: 10px;
  width: 150px;
}
.thirdContainer {
  height: 80px;
  width: 300px;
  margin-right: 20px;
  word-wrap: normal;
  overflow-x: auto;
}

.dFlexJcAc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatarBkLg img{
  height: 60px;
  border-radius: 100%;
  width: 60px;
}

.medzCon{
  margin-top: 10px;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  position: relative;
  background-color: rgba(133, 133, 133, 0.479);
  height: 110px;
  display: flex;

}


.yegrortCon{
  margin-left: 80px !important;
}

.yerortCon {
  margin-left: 40px !important;
  height: 100px !important;
  overflow-y: auto;
  word-wrap: break-word;
  width: 100% !important;
}

