body{
  font-family: 'Arima Madurai' !important;
}

.mainContainer2 {
  position: relative;
  background-image: url(./img/pexels-olia-danilevich-5088017.jpg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.sideBar {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 140px;
  height: 100vh;
  background-color: rgb(71,72,67);
  padding-left: 20px;
  padding-top: 40px;
  color: white;
  font-weight: bold;
}

.logo {
  height: 120px;
  width: 120px;
  z-index: 1;
  margin-top: 50px;
}
.board {
  margin-top: 20px;
  cursor: pointer;
}
.backlog {
  margin-top: 20px;
  cursor: pointer;
}
.addTask {
  margin-top: 20px;
  cursor: pointer;
}

.tasksContainer {
  margin-left: 150px;
  display: flex;
  text-align: center;
}
.container-fluid2 {
  width: 400px !important;
  margin: 25px;
}
.container-fluid2 span {
  font-weight: bold;
}
.boardCon {
  height: 90vh;
  background-color: rgba(128, 128, 128, 0.397);
  border-radius: 10px;
  overflow-y: auto;
}
.boardCon:hover {
  box-shadow: 0px 0px 22px 22px rgba(74, 74, 74, 0.75);
  -webkit-box-shadow: 0px 0px 22px 22px rgba(74, 74, 74, 0.75);
  -moz-box-shadow: 0px 0px 22px 22px rgba(74, 74, 74, 0.75);
}

.createdTask{
  height: 370px;
  margin: 10px;
  border: 2px black dashed;
  border-radius: 8px;
  position: relative;
  max-width: 300px;
  font-weight: bold;
  cursor: pointer;
}

.nameSpan{
  height: 110px;
  word-wrap: break-word;
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.nameSpan img {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}
.avatarImg{
  margin-left: 5px;
}
.descSpan {
  height: 80px;
  word-wrap: break-word;
  overflow-y: auto;
}
::-webkit-scrollbar {
  border-radius: 10px;
  background-color: rgb(178,145,94);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #3b0223);
    border-radius: 8px;
}

.fullscreenCon {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 90vh ;
  min-width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen{
  color: white;
  z-index: 11;
  position: absolute;
background-color: rgba(0, 0, 0, 0.421);
  height: 560px !important;
  width: 760px;
  padding: 20px;
  border-radius: 10px;
}

.firstRowFullScreen{
  display: flex;
  justify-content: space-around;
}

.firstRowFullScreen img{
border-radius: 100%;
height: 140px;
width: 140px
}

.nameFullScreen {

  width: 300px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3em;

}

.descriFullScreen {
font-size: 1.2em;
  margin-top: 20px;
  height: 250px;
  overflow-y: auto;
}
.thirdRowFullScreen {
  border: 3px black dashed;
  margin-top: 20px;
}

.contentThirdRowFullScreen {
  height: auto;
  display: flex;
  justify-content: center;
}
.content1{
  margin: 20px;
}

.content2 {
  margin: 20px;
}

.fouthRowFullScreen {

  position: absolute;
  bottom: 10px;
  left: 20px;
}

.urgencyColorRed {
  border-left: solid red 20px;
  border-right: solid red 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.urgencyColorBlue {
  border-left: solid blue 20px;
  border-right: solid blue 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.urgencyColorOrange {
  border-left: solid orange 20px;
  border-right: solid orange 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.displayNone {
  display: none;
}


