/* arima-madurai-regular - latin */
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/arima-madurai-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/arima-madurai-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/arima-madurai-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/arima-madurai-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/arima-madurai-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/arima-madurai-v14-latin-regular.svg#ArimaMadurai') format('svg'); /* Legacy iOS */
}
/* arima-madurai-900 - latin */
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/arima-madurai-v14-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/arima-madurai-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/arima-madurai-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/arima-madurai-v14-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/arima-madurai-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/arima-madurai-v14-latin-900.svg#ArimaMadurai') format('svg'); /* Legacy iOS */
}